name: API CRUD Tests
 
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
 
jobs:
  test:
    runs-on: ubuntu-latest
 
    steps:
      # Клонируем репозиторий
      - name: Checkout repository
        uses: actions/checkout@v4
 
      # Устанавливаем Java (JDK 17)
      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: maven
 
      # Устанавливаем Maven зависимости и запускаем тесты
      - name: Run API tests with Maven
        run: mvn clean test -Dtest=ApiTest
 
      #  Генерируем Allure отчёт
      - name: Generate Allure report
        run: |
          mkdir -p allure-results
          mkdir -p allure-report
          mvn io.qameta.allure:allure-maven:report